.setup-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 2rem 0 0;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h3 {
    font-weight: bold;
  }
}

.side-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.set-selection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 4rem;
  gap: 3rem;
  justify-content: center;
}

/* =========================
   SET CARD
   ========================= */
.set-card {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: var(--bg);
  padding: 0.5rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.25s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  /* =========================
     IMAGE WRAPPER
     ========================= */
  .img-wrapper {
    width: fit-content;
    height: fit-content;
    background-color: var(--bg);
    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.2s ease;

    img {
      max-width: 240px;
      height: 275px;
      object-fit: contain;
      user-select: none;
      pointer-events: none;
    }
  }
}

/* =========================
   SELECTED STATE
   ========================= */
.set-card.selected {
  border: var(--selected);
}

/* =========================
   RESPONSIVE TWEAKS
   ========================= */
@media (max-width: 768px) {
  .set-selection {
    padding: 2rem;
  }

  .set-card {
    max-width: 200px;
    height: 200px;

    .img-wrapper {
      height: 200px;

      img {
        height: 200px;
      }
    }
  }
}

/* =========================
   BUTTONS
   ========================= */
button {
  &:hover {
    cursor: pointer;
  }
}

.ban-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.setup-ban-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    border: 3px solid var(--text);
    border-radius: var(--radius);
    background-color: var(--text);
    padding: 0.5rem;
    transition: border-color 0.2s ease;
  }

  button.selected {
    border: var(--selected)
  }
}

.ban-btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.selected {
  border: var(--selected) !important;
  transform: scale(1.05);
}

.selected-btn {
  border: var(--selected) !important
}

.setup-submit-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: auto;
  gap: 1rem;
  padding-top: 2rem;

  button {
    border: 3px solid var(--text);
    border-radius: var(--radius);
    background-color: var(--text);
    padding: 0.5rem;
  }
}
