:root {
  --bg: #1f1f1f;
  --bg2: #181818;
  --accent: red;
  --border: red;
  --text: #cccccc;
  --radius: .625rem;
  --selected: 3px solid red;
  --font-ui: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
  background-color: var(--bg);
  color: var(--text);
}
