.game-selector {
  max-width: 300px;
  background-color: aliceblue;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 10px solid aliceblue;
  transition:
    transform .3s ease,
    border-color .3s ease;

  &:hover {
    transform: scale(1.05);
    border-color: var(--accent);
  }

  img {
    width: 100%;
  }
}
