.home-logo {
  width: 300px;
}

.game-setup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  button {
    border: 3px solid var(--text);
    border-radius: var(--radius);
    background-color:var(--text);
    padding: 1rem;



    &:hover {
      cursor: pointer;
    }
  }

  .selected {
      border-color: var(--accent);
    }
}

.mode-selection {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mode-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;

  button {
    width: 50%;
    flex: 1;
  }
}

.player-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player-count {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}


.player-names {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;

  .name-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 1rem;
      border-radius: var(--radius);
      background-color: var(--text);
    }
  }
}

.submit-container {
  margin-top: auto;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;

  .submit-btn {
    border: 3px solid var(--text);
    border-radius: var(--radius);
    background-color: var(--text);
    padding: 0.5rem;
    width: 100%;
  }
}

.game-setup {
  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h3 {
    font-weight: bold;
  }

  button {
    // font-weight: bold;
  }
}
