#game-left {
  justify-content: space-between;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }
}

#game-right {
  position: relative;
  display: flex;
  padding: 2rem;

  img {
    border: 1px solid var(--accent);
    border-radius: var(--radius);
    width: 100%;
    max-width: 1000px;
  }
}

.game-info-card {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--accent);
  position: absolute;
  top: 2rem;
  left: 2rem;
  gap: 1rem;

    h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-card-top {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.team-parent-container {
  display: flex;
  gap: 2rem;
}

.player-order {
  display: flex;
  gap: 2rem;
}

.player-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.player-card {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--accent);
  gap: 1rem;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
