#game-left {
  justify-content: space-between;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }
}

#game-right {
  display: flex;
  padding: 2rem;

  img {
    border: 1px solid var(--accent);
    border-radius: var(--radius);
    width: 100%;
    max-width: 1000px;
  }
}

.team-parent-container {
  display: flex;
  gap: 2rem;
}

.player-order {
  display: flex;
  gap: 1rem;
}

.player-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.player-card {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--accent);
  gap: 1rem;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.char-card-container {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.game-info-card {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--accent);
  gap: 1rem;
  height: fit-content;
  max-width: 300px;

    h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-card-top {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}


.character-card {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #000000BF;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .5rem;
}

.char-card-info {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  background-color: #000000BF;
  padding: .5rem;

  h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h5 {
    font-size: .8rem;
  }
}

.game-main {
  display: flex;
  width: 100%;
}

#game-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game-reset-btns {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.game-btn {
  border: 3px solid var(--text);
  border-radius: var(--radius);
  background-color: var(--text);
  padding: 0.5rem;

  &:hover {
    border-color: var(--accent);
  }
}
